

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <a href="{{ route('/')}}" class="my-0 mr-md-auto h5 font-weight-bold text-decoration-none">ADONIS STARTER</a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark text-uppercase" href="#">{{ auth.user.first_name }} </a>
    </nav>
    <a class="btn btn-outline-danger" href="{{ route('logout') }}">Sign Out</a>
</div>

